@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  background-color: #1f2937;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.navigation__link {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 100px 0;
}

.hero__content {
  max-width: 450px;
}

.hero__title {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero__lead {
  margin: 0 0 16px 0;
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  border-radius: 10px;
  border: 0;
  padding: 10px 40px;
}

.button--primary {
  color: #f9faf8;
  background-color: #3882f6;
}

.hero__image {
  width: 500px;
  height: 200px;
}
