@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.navigation__link {
  font-size: 18px;
  color: #e5e7eb;
}
