@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header,
.footer {
  background-color: #1f2937;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.navigation__link {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 100px 0;
}

.hero__content {
  max-width: 450px;
}

.hero__title {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero__lead {
  margin: 0 0 16px 0;
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  border-radius: 10px;
  border: 0;
  padding: 10px 30px;
  font-weight: 700;
}

.button--primary {
  color: #f9faf8;
  background-color: #3882f6;
}

.hero__image {
  width: 450px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.information__inner {
  text-align: center;
  padding: 50px 0 100px;
}

.information__title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.information__content {
  display: flex;
  justify-content: center;
  gap: 36px;
}

.information__card {
  max-width: 150px;
}

.information__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-width: 5px;
  border-style: solid;
  border-color: cornflowerblue;
  border-radius: 10px;
}

.quote {
  background-color: #e5e7eb;
}

.quote__inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0;
}

.quote__body {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 300;
  margin: 0;
}

.quote__author {
  text-align: end;
  margin-right: 50px;
  font-size: 24px;
  font-weight: 600;
}

.call-to-action__inner {
  padding: 100px 0;
}

.call-to-action__content {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.call-to-action__title {
  font-size: 1.3rem;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

.call-to-action__lead {
  color: #e5e7eb;
  margin: 0;
}

.button--secondary {
  color: #f9faf8;
  background-color: #3882f6;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}

.footer__inner {
  padding: 32px 0;
  text-align: center;
}

.footer__text {
  color: #fff;
  margin: 0;
}
